<!DOCTYPE html>
<html lang="en">
<%- include('layout/header'); %>

<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                <h2 class="flex-wrap flex-md-nowrap pt-3  border-bottom h2">List Order</h2>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column mt-3 listorder" data-spy="scroll" data-offset="0">
                        <% if(data && data.listOder) { %>
                        <%  for(var i = 1; i < data.listOder.length; i++) { %>
                        <li class="nav-item listOder">
                            <%  for(var j = 1; j < data.listOder[i].length; j++) { %>
                            <div class=" userOrder"><%= data.listOder[i][j].userName %></div>
                            <hr>
                            <div class=" listFood" id="<%= data.listOder[i][j].idUser %>">
                                <% data.listOder[i][j].products.forEach(product =>{ %>
                                <div class="product product-<%= product.idfood %>-<%= data.listOder[i][j].idUser %>">
                                    <div class="col-md-2 image"><img src="assets/img/product/<%= product.image %>">
                                    </div>
                                    <div
                                        class="col-md-8 title-<%= product.idfood %>-<%= data.listOder[i][j].idUser %> title">
                                        <span style="font-weight: 500;"><%= product.nameFood %></span>
                                        <span>
                                            <span style="color: #d30808;"><span class="amountOrder"
                                                    style="color: #d30808;"><%= product.amount %></span> x </span>
                                            <%= product.price.toLocaleString() %>đ

                                        </span>
                                    </div>
                                    <div class="col-md-2 icon icon-<%= data.listOder[i][j].idUser %>"><a href="#" title="Remove Food"
                                            onclick="deleteOrder('<%= product.idfood %>-<%= data.listOder[i][j].idUser %>')"><i
                                                class="fas fa-minus-circle"></i></a></div>
                                </div>
                                <% })  %>
                            </div>
                            <div class="sumUser">
                                <span>Total Product: <span class="product<%= data.listOder[i][j].idUser %>"
                                        style="font-weight: 500;"><%= data.listOder[i][j].__summary.totalProuct %></span></span>
                                <span>Total Price: <span class="price<%= data.listOder[i][j].idUser %>"
                                        style="font-weight: 500; text-decoration: underline;"><%= data.listOder[i][j].__summary.totalPrice.toLocaleString() %>đ</span></span>
                            </div>
                            <% }  %>
                        </li>
                        <% }   %>
                        <% } %>
                    </ul>
                    <% if(data && data.listOder) { %>
                    <%  for(var i = 0; i < data.listOder.length; i++) { %>
                    <%  for(var j = 1; j < data.listOder[i].length; j++) { %>
                    <div class="sum">
                        <div class="d-flex flex-row-reverse ">
                            <span>Total Product: <span class="prouct-count"
                                    style="color: #d30808;font-weight: 600;"><%= data.listOder[i][j].totalProuct%></span></span>
                        </div>
                        <div class="d-flex flex-row-reverse ">
                            <span>Total Price: <span class="price-count"
                                    style="color: #d30808;font-weight: 600; text-decoration: underline;"><%= data.listOder[i][j].totalPrice.toLocaleString() %>đ</span></span>
                        </div>
                    </div>
                    <% break; } %>
                    <%  break; } %>
                    <% } %>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-19 px-4">

                <div class="d-flex justify-content-around align-items-center pt-3 pb-2 mb-3 border-bottom">

                    <div class="btn-toolbar mb-2 mb-md-0">

                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="/sdfdf" role="button"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Restaurant
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/">All</a>
                                <% if(data) { %>
                                <%  data.restaurant.forEach(restaurant => { %>
                                <a class="dropdown-item" href="/<%= restaurant.id %>"><%= restaurant.name %></a>
                                <% });   %>
                                <% } %>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row card-deck text-center list-product">
                    <% if(data) { %>
                    <%  data.product.forEach(product => { %>
                    <div class="col-md-6 col-xl-3 col-lg-4 text-center product">
                        <div class="card-body">
                            <div class="product-img">
                                <img style="width: 208.35px; display: block; height: 139.43px;"
                                    src="assets/img/product/<%= product.prod.image %>" alt="">
                            </div>
                            <div class="description">
                                <span class="nameFood"><%= product.prod.name %></span><br />
                                <span>Restaurant: <span style="font-weight: 500;"><%= product.restaurant.name %></span>
                                </span><br />
                                <span>Price: <span
                                        style="font-weight: 500; text-decoration: underline; color: #d30808;"><%= product.prod.price.toLocaleString() %>đ</span></span>
                            </div>
                            <button type="button"
                                onclick="order('<%= product.prod.id %>','<%= product.restaurant.name%>')"
                                style="margin-top: 10px;" class="btn btn-block btn-outline-success">Add to cart</button>
                        </div>
                    </div>
                    <% });   %>
                    <% } %>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-toggle="modal" data-target="#myModal">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 500px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form style="width: 100%;">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="useName" placeholder="Username">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var base_url = location.protocol + "//" + document.domain + ":" + location.port;
        var socket = io.connect(base_url);
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + JSON.stringify(cvalue) + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        function order(id, restaurant) {
            var user = getCookie("food");
            if (user != "") {
                var getuser = JSON.parse(user);
                if (getuser.userName != "") {
                    var data = {
                        user: getuser.userName,
                        idUser: getuser.id,
                        food: id,
                        restaurant: restaurant
                    }
                    socket.emit("infoOrder", data);
                } else {
                    $('#exampleModalCenter').modal('show')
                }
            } else {
                $('#exampleModalCenter').modal('show')
            }
        }
        function deleteOrder(idFood) {
            var user = getCookie("food");
            if (user != "") {
                var getuser = JSON.parse(user);
                if (getuser.userName != "") {
                    var order = idFood.split('-')[1];
                    if (order === getuser.id) {
                        var data = {
                            user: getuser.userName,
                            idUser: getuser.id,
                            idfood: idFood.split('-')[0]
                        }
                        console.log(data)
                        socket.emit('deleteOrder', data)
                    }
                } else {
                    $('#exampleModalCenter').modal('show')
                }
            } else {
                $('#exampleModalCenter').modal('show')
            }
        }
        $(() => {
            $('#save').on('click', function () {
                let data = {
                    userName: $('#useName').val(),
                    id: md5($('#useName').val().trim())
                }
                setCookie('food', data, 3650);
                $('#exampleModalCenter').modal('toggle')
            });
            socket.on('order', (data) => {
                $('.prouct-count').text(data.__summary.totalProuct);
                $('.price-count').text(`${data.__summary.totalPrice.toLocaleString()}đ`)
                if ($('.listorder').text().indexOf(data.user) > -1) {
                    if ($('.title-' + data.idfood + '-' + data.id + '').text().indexOf(data.nameFood) > -1) {
                        let a = $('.title-' + data.idfood + '-' + data.id + ' .amountOrder').text();
                        let sum = parseInt(a) + 1;
                        $('.title-' + data.idfood + '-' + data.id + ' .amountOrder').text(sum);
                    } else {
                        $(`#${data.id}`).append('<div class="product product-' + data.idfood + '-' + data.id + '"><div class="col-md-2 image"><img src="assets/img/product/' + data.image + '"></div><div class="col-md-8 title-' + data.idfood + '-' + data.id + ' title"><span style="font-weight: 500;">' + data.nameFood + '</span><span><span style="color: #d30808;"><span class="amountOrder" style="color: #d30808;">1</span> x </span>' + data.price.toLocaleString() + 'đ</span></div><div class="col-md-2 icon icon-' + data.id + '"><a title="Remove Food" onclick="deleteOrder(\'' + data.idfood + '-' + data.id + '\')" href="#"><i class="fas fa-minus-circle"></i></a></div></div>');
                    }
                    $(`.product${data.id}`).text(data.summaryUser.totalProuct);
                    $(`.price${data.id}`).text(`${data.summaryUser.totalPrice.toLocaleString()}đ`);
                }
                else {
                    $('.listorder').append('<li class="nav-item listOder"><div class=" userOrder">' + data.user + '</div><hr><div class=" listFood" id="' + data.id + '"><div class="product product-' + data.idfood + '-' + data.id + '"><div class="col-md-2 image"><img src="assets/img/product/' + data.image + '"></div><div class="col-md-8 title-' + data.idfood + '-' + data.id + ' title"><span style="font-weight: 500;">' + data.nameFood + '</span><span><span style="color: #d30808;"><span class="amountOrder" style="color: #d30808;">1</span> x </span>' + data.price.toLocaleString() + 'đ</span></div><div class="col-md-2 icon icon-' + data.id + '"><a title="Remove Food" onclick="deleteOrder(\'' + data.idfood + '-' + data.id + '\')" href="#"><i class="fas fa-minus-circle"></i></a></div></div></div><div class="sumUser"><span >Total Product: <span class="product' + data.id + '" style="font-weight: 500;">' + data.summaryUser.totalProuct + '</span></span><span>Total Price: <span class="price' + data.id + '" style="font-weight: 500; text-decoration: underline;"> ' + data.summaryUser.totalPrice.toLocaleString() + 'đ</span></span></div></li>');
                }
                var user = getCookie("food");
                if (user != ""){
                    var getuser = JSON.parse(user);
                if ($('.icon-' + getuser.id + '')[0]) {
                    $('.icon-' + getuser.id + '').css({ 'display': 'block' })
                }
                }
            })
            socket.on('orderDele', data => {
                $('.product-' + data.idfood + '-' + data.id + '').remove();
                $(`.product${data.id}`).text(data.summaryUser.totalProuct);
                $(`.price${data.id}`).text(`${data.summaryUser.totalPrice.toLocaleString()}đ`);
                $('.prouct-count').text(data.__summary.totalProuct);
                $('.price-count').text(`${data.__summary.totalPrice.toLocaleString()}đ`)
            })
            var user = getCookie("food");
            if (user != ""){
                var getuser = JSON.parse(user);
                if ($('.icon-' + getuser.id + '')[0]) {
                    $('.icon-' + getuser.id + '').css({ 'display': 'block' })
                }
            }
        })
    </script>
</body>

</html>