<!doctype html>
<html class="no-js" lang="zxx">
<%- include('layout/header'); %>
<body>
    <div class="wrapper">
        <!-- header start -->
        <header>
            <div class="header-area transparent-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                        </div>
                        <div class="col-lg-8 col-md-8 d-none d-md-block">
                            <div class="logo-menu-wrapper text-center">
                                <div class="main-menu">
                                    <nav>
                                        <ul>

                                            <li><a href="/">Restaurant <i class="ion-ios-arrow-down"></i></a>
                                                <ul>
                                                    <% if(data) { %>
                                                    <%  data.restaurant.forEach(restaurant => { %>
                                                    <li><a href="/<%= restaurant.id %>"><%= restaurant.name %></a></li>
                                                    <% });   %>
                                                    <% } %>
                                                </ul>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-lg-2 col-md-2 col-sm-7 col-7">
                            <div class="header-site-icon">

                                <div class="header-login same-style">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                        <span class="ti-user"></span>
                                    </button>
                                </div>

                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </header>
        <div class="header-height"></div>
        <!-- main-search start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><span class="ti-close"></span></button>
            </div>
            <div class="sidebar-search-input">
                <form>
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="Search Entire Store" type="search">
                        <button>
                            <i class="ti-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="shop-wrapper hm-3-padding pb-100 col-md-12">
            <div class="container-fluid col-md-12">
                <div class=" col-md-4 order" style="float: left;">
                    <h2 style="text-align: center; background: #d5d3d3; padding: 10px;">List Order</h2>
                    <ul class="listorder">
                            <% if(data && data.listOder) { %>
                                <%  for(var i = 1; i < data.listOder.length; i++) { %>
                                
                                <li style="display: inline-block; width: 100%;">
                                        <%  for(var j = 1; j < data.listOder[i].length; j++) { %>
                                        <div style="float: left; padding-top: 5px;"><%= data.listOder[i][j].userName %></div>
                                        <div id="<%= data.listOder[i][j].idUser %>" style="float: right;">
                                            <% data.listOder[i][j].products.forEach(product =>{ %>
                                            <div class="product" style="margin-bottom: 5px; overflow: auto;">
                                                <div class="title" style="float: left; margin-right: 10px;"><%= product.nameFood %>: <%= product.price %>đ</div>
                                                <div class="image" style="float: right"><img style="width: 50px; "
                                                        src="assets/img/product/<%= product.image %>"></div>
                                            </div>
                            
                                            <% })  %>
                                        </div>
                                        <% }  %>
                                    </li>
                                <% }   %>
                                <% } %>
                    </ul>
                </div>
                <div class=" col-md-8" style="float: right;">

                    <div class="grid-list-product-wrapper">
                        <div class="product-grid product-view">
                            <div class="row">
                                <% if(data) { %>
                                <%  data.product.forEach(product => { %>
                                <div class="product-width col-md-6 col-xl-3 col-lg-4">
                                    <div class="product-wrapper mb-35">
                                        <div class="product-img">
                                          
                                                <img src="assets/img/product/<%= product.image %>" alt="">
                                          
                                            <!-- <div class="price-decrease">
                                                            <span>30% off</span>
                                                        </div> -->
                                        </div>
                                        <div class="product-content" style="text-align: center">
                                            
                                            <h4><%= product.name %></h4>
                                           
                                            <div class="product-title-3">
                                                <h4 style="margin: 0;">Nhà hàng : <%= data.detail %>
                                                </h4>
                                            </div>
                                            <div class="product-peice-addtocart">
                                                <div class="">
                                                    <span><%= product.price.toLocaleString() %> đ</span>
                                                </div>
                                                <div class="">
                                                    <button  class="btn btn-primary"  price="<%= product.price %>"
                                                        onclick="order('<%= product.id %>','<%= data.detail %>')"> <i
                                                            class="ti-shopping-cart"></i> Add to cart</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <% });   %>
                                <% } %>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-toggle="modal" data-target="#myModal">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 500px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form style="width: 100%;">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="useName" placeholder="Username">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var base_url = location.protocol + "//" + document.domain + ":" + location.port;
        function randomString() {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            var string_length = 8;
            var randomstring = '';
            for (var i = 0; i < string_length; i++) {
                var rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum, rnum + 1);
            }
            return randomstring;
        }
        var socket = io.connect(base_url);
        $(document).ready(function () {
            $('#save').on('click', function () {
                let data = {
                    userName: $('#useName').val(),
                    id: randomString()
                }
                setCookie('food', data, 1);
                $('#exampleModalCenter').modal('toggle')
            });
        });
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + JSON.stringify(cvalue) + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return ;
        }
        function order(id, restaurant) {
            var user = getCookie("food");
            if (user != "") {
                var getuser = JSON.parse(user);
                if (getuser.userName != "") {
                    var data = {
                        user: getuser.userName,
                        idUser: getuser.id,
                        food: id,
                        restaurant: restaurant
                    }
                    socket.emit("infoOrder", data);
                } else {
                    $('#exampleModalCenter').modal('show')
                }
            } else {
                $('#exampleModalCenter').modal('show')
            }
        }
        $(() => {

            socket.on('order', (data) => {
                 if ($('.listorder').text().indexOf(data.user) > -1) {

                    $(` #${data.id}`).append('<div style="margin-bottom: 5px; overflow: auto;" class="product"><div class="title" style="float: left; margin-right: 10px;">' + data.nameFood + '' + '   ' +'' + data.price.toLocaleString() + '</div><div class="image" style="float: right"><img style="width: 50px;" src="assets/img/product/' + data.image + '"></div></div></div>');
                }
                else
                    $('.listorder').append('<li  style="display: inline-block; width: 100%;"> <div style="float: left; padding-top: 5px;">' + data.user + '</div><div id ="' + data.id + '" style="float: right;"><div class="product" style="margin-bottom: 5px; overflow: auto;"><div class="title" style="float: left; margin-right: 10px;">' + data.nameFood + '' + '   ' +'' + data.price.toLocaleString() + '</div><div class="image" style="float: right"><img style="width: 50px; " src="assets/img/product/' + data.image + '"></div></div></div></li>');
            })
        })
    </script>

    <!-- all js here -->
    <%- include('layout/script'); %>
</body>

</html>